$tarot: (
  image-url: 'https://lguplus-event.s3.amazonaws.com/static/tarot/images',
  pc-image-url: 'https://lguplus-event.s3.amazonaws.com/static/tarot/images/pc',
  mo-image-url: 'https://lguplus-event.s3.amazonaws.com/static/tarot/images/m',
  popup-image-url:
    'https://lguplus-event.s3.amazonaws.com/static/tarot/images/popup'
) !default;
