$type: 'pc';

[v-cloak] {
  display: none;
}



body {
  background: #c58033;
}

%inputText {
  height: 50px;
  padding: 0 20px;
  background-color: #d4c4a9;
  color: #472412;
  border: none;
  font-size: 22px;
  line-height: 50px;
  vertical-align: middle;
  font-family: 'NotoSansKR', sans-serif;
}

// layout
// ==============================================
.wrap {
  @include relative;
  @include box-center;
  // height: 100vh;
  min-height: 108vh;
  max-width: $width-max;
  min-width: $width-min;
  letter-spacing: -1.5px;
  padding-bottom: 200px;
  font-family: 'NotoSansKR', sans-serif;
  // overflow: hidden;
  padding-top: 1px;
  @include bg($loc + '/bg.jpg', $color:#c68033);
}

.ferreroLogo {
  margin: 58px 0 0 55px;
  position: absolute;
  z-index: 10;
}

.inner {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.view {
  display: none;
}

.view__header {
  padding: 25px 0 28px;

  .questionBoard & {
    padding: 25px 0 28px;
  }

  .scoreBoard & {
    padding: 25px 0 47px;
  }

  margin: 90px 0 0;
  text-align: center;
  font-family: 'NotoSerifKR-Bold';
  font-size: 24px;
  color: #491101;
  border-bottom: 1px solid #c0ab86;
  border-top: 1px solid #c0ab86;

  h2 {
    padding: 0 0 12px;
    font-size: 50px;

    .questionBoard & {
      padding: 2px 0 10px;
    }

    .scoreBoard & {
      padding: 10px 0 10px;
    }
  }

  &--txt {

    font-size: 22px;
    font-family: 'NotoSansKR', sans-serif;
  }
}


// section01 & 개인정보 
// ==============================================
input[type='text'],
input[type='tel'],
input[type='number'],
textarea,
select {
  @extend %inputText;
  width: 100%;

  &::placeholder {
    color: #938161;
  }
}


//개인정보
form {
  margin-top: 20px;

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @include bg($loc + '/select-arrow.png', $color: #d4c4a9);
    background-position: 95% 50%;

    &::-ms-expand {
      display: none;
    }
  }

  dl {
    width: 450px;
    margin: 0 auto;
  }

  dt {
    display: inline-block;
    width: 70px;
    line-height: 50px;
    vertical-align: middle;
    text-align: left;
    font-size: 22px;
    color: #6a3900;
    font-weight: 700;
    letter-spacing: -2px;
  }

  dd {
    display: inline-block;
    width: 375px;
    margin-bottom: 10px;
  }
}

input[type='checkbox'] {
  position: absolute;
  opacity: 0.01;

  &~span {
    display: inline-block;
    width: 28px;
    height: 28px;
    vertical-align: middle;
    @include bg($loc + '/checkbox.jpg');
    background-position: 0 top;
    cursor: pointer;
  }

  &:checked~span {
    background-position: 0 bottom;
  }
}

input[type='radio'] {
  position: absolute;
  opacity: 0.01;

  &~span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    @include bg($loc + '/radio.png');
    background-position: 0 top;
    cursor: pointer;
  }

  &:checked~span {
    background-position: 0 bottom;
  }
}

.agree {
  &--wrap {
    width: 670px;
    margin: 2px auto 0;

    li {
      display: inline-block;
      text-align: left;

      label[for] {
        display: inline-block;
        cursor: pointer;
      }

      &:first-child {
        margin-right: 20px;
      }
    }
  }

  &--text {
    display: inline-block;
    margin: 0 6px;
    vertical-align: middle;
    color: #8a6d3d;
    font-size: 18px;
    letter-spacing: 0;
  }

  &--notice {
    text-align: center;
    margin-top: 5px;
    padding-bottom: 20px;
    color: #8a6d3d;
    font-size: 16px;
    border-bottom: 1px solid #c0ab86;
  }
}

h3 {
  margin: 0 0 30px 0;
  text-align: center;
  font-family: 'NotoSerifKR-Bold';
  font-size: 30px;
  color: #491101;
  letter-spacing: -2px
}

//table
#messageBoard--comment {
  // 주석처리
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;

  thead {
    font-size: 20px;
    color: #e2d7bb;
    background: #c9b38e;

    th {
      height: 60px;
    }
  }

  tbody {
    text-align: center;
    background: #d4c4a9;
    color: #a08e6f;
    font-size: 18px;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    float: left;
    width: 500%;

    tr {
      display: table;
      width: 100%;

      &:first-child {
        margin-top: 16px;
      }

      &:last-child {
        margin-bottom: 24px;
      }

      td {
        &:nth-child(1) {
          width: 200px;
          height: 50px;
          letter-spacing: -2px;
          font-weight: 500;
        }

        &:nth-child(2) {
          width: 150px;
        }

      }
    }

    /* td {
      height: 50px;
      letter-spacing: -2px;
      font-weight: 500;
    } */

  }

  // &--name {
  //   width: 220px;
  // }

  // &--score {
  //   width: 160px;
  // }
  .isEllipsis {
    display: inline-block;
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.messageBoard {
  &__header {
    background: #c9b38e;
    color: #e6dcc2;
  }

  &__body {
    background: #d4c4a9;
    padding: 20px 0;
    overflow-y: scroll;
    color: #938161;
  }


  &__row {
    font-size: 0;

    &>* {
      vertical-align: middle;
    }
  }

  &__row:last-child.messageBoard__body {
    height: 200px;
  }

  &__col {
    display: inline-block;
    height: 54px;
    line-height: 54px;
    text-align: center;
    font-size: 20px;

    &:nth-child(1) {
      width: 235px;
    }

    &:nth-child(2) {
      width: 140px;
    }

    &:nth-child(3) {
      width: 600px;
    }
  }

}


// section02 & 퀴즈풀기 
// ==============================================
.question {
  padding-top: 37px;
  width: 475px;
  display: inline-block;
  vertical-align: top;

  &.question--3 {
    padding-top: 24px;
    width: 100%;
  }

  &:first-child {
    width: 500px;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #c1ab85;
  }

  &__number {
    display: block;
    width: 80px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 18px;
    color: #e7d3be;
    background: #866224;
  }

  &__q {
    margin: 10px 0 20px;
    font-size: 21px;
    color: #6a3900;
    font-weight: 700;
    letter-spacing: -1.8px;
  }

  &--1 {
    padding-bottom: 20px;

    .selectBox__option {
      &:nth-last-child(1) {
        border: none;
      }
    }
  }

  &--2 {
    padding-bottom: 20px;

    .selectBox__option {
      display: inline-block;
      width: 212px;

      &:nth-child(odd) {
        width: 260px;
      }

      &:nth-last-child(1) {
        border: none;
        display: block;

        [type="text"] {
          width: 430px;
          margin-left: 29px;
        }
      }

    }
  }

  &--3 {
    padding-bottom: 20px;
    border-top: 1px solid #d4bb91;
    border-bottom: 1px solid #d4bb91;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .question__title {
      display: inline-block;
    }

    .question__title>* {
      display: inline-block;
      vertical-align: middle;
    }

    .question__q {
      margin: 0 0 0 9px;
      font-weight: 700;
      // letter-spacing: 1px;
    }

    .question__userAnswer {
      margin-left: 10px;
      width: 555px;
    }
  }
}

.selectBox {
  &__option {
    position: relative;
    height: 60px;
    line-height: 65px;
    border-bottom: 1px solid #d4bb91;
    font-size: 20px;
    color: #4d3714;

    label[for] {
      cursor: pointer;
    }

    label[for]>* {
      vertical-align: middle;
    }

    label[for]>b {
      font-size: 21px;
      font-weight: 300;
    }

    label[for]>.text {
      display: inline-block;
      width: 200px;
      margin-right: 245px;
    }

  }

  label {
    display: block;
  }
}

// 점수 표시 화면

.scoreBoard {

  .question {
    padding-top: 6px;
  }

  .question--1 {
    width: 500px;
    margin-right: 20px;
  }

}

.scoreBoard__score {
  @include size(1000px, 350px);
  @include bg($loc + '/bg-score-board.png');
}

.scoreBoard__text {
  @include size(290px, 100px);
  display: inline-block;
  margin-top: 130px;
  margin-left: 370px;
  font-size: 38px;
  font-family: 'NotoSerifKR';
  color: #f3d898;
  letter-spacing: -3px;
}

.scoreBoard__scoreVisual {
  @include size(305px, 105px);
  @include bg($loc + '/visual-score.png', $pos: left bottom);
  display: inline-block;

  &.zero {}

  &.fifty {
    background-position-y: -105px;
  }

  &.hundred {
    background-position-y: 0;
  }
}

// 정답 확인 OX
.answer {
  &__text {
    font-size: 21px;
    margin-right: 8px;
  }

  .isBold {
    color: #6a3900;
  }

  span {
    vertical-align: middle;
  }

  &__yourAnswer {
    margin-bottom: 5px;
  }
}

.visualOx {
  @include bg($loc + '/visual-ox.png');
  display: inline-block;
  @include size(36px);

  &--x {
    background-position-y: bottom;
  }
}

.text--promotion {
  text-align: center;
  // outline:1px solid red;
  font-size: 22px;
  padding: 24px 0;
  margin: 6px 0 30px;
  border-bottom: 1px solid #c0ab86;
  border-top: 1px solid #c0ab86;
  color: #3e1c0a;
}

//button
// ==============================================

.btnWrap {
  text-align: center;
}