<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/adminLayout">
<head>
	<title>2019 발렌타인 즉석당첨</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
		    <div class="col-lg-12">
		        <h1 class="page-header">2019 골든벨 상품 셋팅</h1>
		    </div>
		    <!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
		<div class="row" id="valentine-2019-prize-setting">
		    <div class="col-lg-12">
		        <div class="panel panel-default">
		            <!-- /.panel-heading -->
		            <div class="panel-body">
		                <div class="table-responsive">    
		                    <div class="row" style="padding-bottom:10px;margin:0px;">
		                        <div class="col-xs-6">
		                            전체 <span style="color:red">{{ data.length }}</span>건
		                        </div>
		                    </div>
		                    <div class="row" style="margin:0px;">
		                        <div class="col-lg-12">
		                            <div class="table-responsive">
		                                <table class="table table-striped table-bordered table-hover table-condensed" id="dataTables-example">
		                                    <thead>
		                                        <tr>
		                                            <th style="text-align:center;vertical-align:middle">날짜</th>
		                                            <th style="text-align:center;vertical-align:middle;">경품</th>
		                                            <th style="text-align:center;vertical-align:middle;">총경품수량</th>
		                                            <th style="text-align:center;vertical-align:middle;">총당첨수량</th>
		                                            <th style="text-align:center;vertical-align:middle;">당첨시작시간(0~23)</th>
		                                            <th style="text-align:center;vertical-align:middle;">확률(0~1)</th>
		                                            <th style="text-align:center;vertical-align:middle;">관리</th>
		                                        </tr>
		                                    </thead>
		                                    <tbody>
	                                    	    <tr v-for="(item, index) in data">
					                                <td style="text-align:center;vertical-align:middle">{{item.key.date | moment}}</td>
					                                <td style="text-align:center;vertical-align:middle">{{item.key.prizeType}}</td>
					                                <td style="text-align:center;vertical-align:middle"><input type="text" v-model="item.totalCount" /></td>
					                                <td style="text-align:center;vertical-align:middle">{{item.winnerCount}}</td>					                                
					                                <td style="text-align:center;vertical-align:middle"><input type="text" v-model="item.startTime" /></td>
					                                <td style="text-align:center;vertical-align:middle"><input type="text" v-model="item.rate" /></td>
					                                <td>
					                                	<button type="button" v-on:click="update(item)" class="btn btn-xs btn-primary btn-block">수정</button>
					                                </td>
					                            </tr>
		                                    </tbody>
		                                    <tbody v-show="data.length === 0">
		                                        <tr>
		                                            <td style="color:red;text-align:center" colspan="7">데이터가 없습니다.</td>
		                                        </tr>
		                                    </tbody>
		                                </table>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <!-- /.panel-body -->
		        </div>
		        <!-- /.panel -->
		    </div>
		    <!-- /.col-lg-12 -->
		</div>
	</div>
	
	<th:block layout:fragment="body-script" th:remove="tag">
		<script src="/goldenbell2019/js/admin.js"></script>
	</th:block>
</body>
</html>