$width-max: 720px;
$width-content-wrap: 640px;

// $loc: '/note10spen/images';
$loc: 'https://lguplus-event.s3.amazonaws.com/static/note10spen/images';

$font: 'Apple SD Gothic Neo','Nanum Barun Gothic','Malgun Gothic', sans-serif;
