/*==============================================
   ** 성향분석 팝업
/*==============================================*/

.popup {
  &__mask {
    background: rgba(0, 0, 0, 0.7);
  }
  &__dialog {
    background: #622b6b;
    padding: 40px;
    // top: 50%;
    // transform: translate(-50%, -50%);
  }
  &Btn__close {
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    @include background(
      map-get($tarot, 'popup-image-url') + '/btn-close.png',
      $size: cover
    );
  }

  //  개인정보 입력 팝업
  &__personal {
    letter-spacing: -0.7px;
    transition: opacity 0.2s ease;

    .popup {
      &__header {
        text-align: center;
        margin: 16px 0 42px;
      }
      &__dialog {
        max-height: 818px;
        height: 100vh;
        overflow-y: scroll;
      }
    }
    .popupBtn,
    input,
    select {
      padding: 0 20px;
      font-size: 20px;
    }
    .indent {
      margin-left: 84px;
    }
    .info {
      // row
      &__item {
        margin-bottom: 20px;
        // padding-left: 20px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='11px' height='11px'%3E%3Cpath fill-rule='evenodd' fill='rgb(215, 171, 88)' d='M5.500,10.700 C2.628,10.700 0.300,8.372 0.300,5.500 C0.300,2.628 2.628,0.300 5.500,0.300 C8.372,0.300 10.700,2.628 10.700,5.500 C10.700,8.372 8.372,10.700 5.500,10.700 ZM5.500,3.505 C4.398,3.505 3.505,4.398 3.505,5.500 C3.505,6.602 4.398,7.495 5.500,7.495 C6.602,7.495 7.495,6.602 7.495,5.500 C7.495,4.398 6.602,3.505 5.500,3.505 Z'/%3E%3C/svg%3E")
          left 20px no-repeat;
        &.info__phone {
          div:nth-child(2n) {
            margin-top: 10px;
          }
        }
      }

      &__label {
        padding-left: 20px;
        line-height: 48px;
        font-size: 24px;
        font-weight: 400;
        color: #d7ab58;
        flex-shrink: 0;
      }
      &__input {
        height: 50px;
        margin-left: 6px;
        background: #dab0e1;
        font-weight: 400;
        &[name='lastnName'] {
          width: 80px;
          flex-shrink: 0;
        }
      }
    }
    // 통신사 선택 selectbox
    .popupBtn,
    .phone__corp {
      width: 164px;
      background: #d7ab58;
      margin-left: 20px;
      color: #622b6b;
      font-weight: 700;
      text-align: center;
      flex-shrink: 0;
    }

    .auth__notice {
      font-size: 16px;
      color: #c49cca;
      font-weight: 400;
    }

    .agree {
      &-group {
        margin-top: 23px;
        border-top: 1px solid #8f6496;
        padding: 24px 0 40px;

        &__notice {
          font-size: 22px;
          font-weight: 400;
          color: #dacadc;
          padding-left: 20px;
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='11px' height='11px'%3E%3Cpath fill-rule='evenodd' fill='rgb(205, 186, 207)' d='M5.500,10.700 C2.628,10.700 0.300,8.372 0.300,5.500 C0.300,2.628 2.628,0.300 5.500,0.300 C8.372,0.300 10.700,2.628 10.700,5.500 C10.700,8.372 8.372,10.700 5.500,10.700 ZM5.500,3.505 C4.398,3.505 3.505,4.398 3.505,5.500 C3.505,6.602 4.398,7.495 5.500,7.495 C6.602,7.495 7.495,6.602 7.495,5.500 C7.495,4.398 6.602,3.505 5.500,3.505 Z'/%3E%3C/svg%3E")
            left center no-repeat;
        }
        .popupBtn__agreeDetail {
          font-size: 17px;
          border-bottom: 1px solid #c49cca;
          color: #c49cca;
          font-weight: 300;
          letter-spacing: -1px;
        }
      }
      &__all {
        padding: 10px 0;
        border-bottom: 1px solid #8f6496;
      }
      &__item {
        font-size: 22px;
        color: #c49cca;
        margin: 13px 0;
      }
      &__desc {
        display: inline-block;
        margin-top: -2px;
      }
    }

    .btn-group {
      flex-wrap: wrap;
      justify-content: center;
      .btn__confirm {
        margin-bottom: 20px;
      }
    }
  }

  // 정책
  &__term {
    color: #dacadc;

    h1 {
      text-align: center;
    }
    .popup {
      &__content {
        font-size: 16px;
        line-height: 1.5;
        word-break: keep-all;
        p {
          margin: 20px 0;
        }
        ul {
          li {
            list-style: inside;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
