<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="shared/layout-mobile">

<head>
  <title>페레로로쉐 : 발렌타인 이벤트</title>
  <meta name="viewport" content="width=640, user-scalable=no">
  <link href="/valentine2020/css/style.m.min.css" rel="stylesheet">

</head>

<!-- 이벤트 Meta 태그 추가 -->
<th:block layout:fragment="meta" th:remove="tag">
  <meta property="og:url" th:attr="content=${metadata.url}" />
  <meta property="og:title" th:attr="content=${metadata.title}" />
  <meta property="og:image" th:attr="content=${metadata.image}" />
  <meta property="og:description" th:attr="content=${metadata.description}" />
</th:block>

<th:block layout:fragment="content">
  <div id="app" class="wrap">
    <!-- nav -->
    <nav class="nav" ref="nav">
      <h2 class="a11y-hidden">이벤트 네비게이션</h2>
      <ul class="nav__list">
        <li v-for="nav in navList" class="nav__item" :class="{ on: currentSection == nav.name }">
          <a @click.prevent="goSection(nav.name)" :href="'#' + nav.name">{{nav.name}}</a>
        </li>
      </ul>
    </nav>

    <section class="kv" id="event1">
      <h1><img src="https://fr-ferrerorocher.s3.ap-northeast-2.amazonaws.com/static/2020-valentine/m/logo-kv.png"
          alt="페레로로쉐 로고"></h1>
      <div class="inner">
        <h2 class="kv__tit">
          <p class="a11y-hidden">
            Valentine's Day
          </p>
        </h2>

        <div class="kv__mv" ref="mv">
          <button class="btn btn--videoPlay" type="button" @click="playMv()" v-show="playBtnState">영상 플레이 버튼</button>
          <div id="player"></div>
        </div>

        <div class="kv__content a11y-hidden">
          <h3>영상 공유 이벤트</h3>
          <p>소중한 사람들에게 영상을 공유하면 1,000분에게 페레로 로쉐 5개입 즉석 당첨의 기회가!</p>
          <dl class="a11y-hidden">
            <dt>이벤트 참여</dt>
            <dd>2020.1.21 ~ 2020.2.14</dd>
            <dt>경품 발송</dt>
            <dd>2020.2.18</dd>
          </dl>
        </div>

        <button class="btn btn--joinLotteryEvent" @click="movCheck" type="button">영상 이벤트 참여하기</button>
      </div>
    </section>

    <section class="card" id="event2">
      <div class="inner">
        <div class="card__content a11y-hidden">
          <h3>로맨틱 데이트 이벤트</h3>
          <p>소중한 사람에게 마음을 고백하세요~ 오래도록 기억에 남을 데이트를 선물해드립니다</p>
          <dl>
            <dt>이벤트 참여</dt>
            <dd>2020.1.21 - 2020.2.5</dd>
            <dt>당첨자 발표</dt>
            <dd>2020.2.12</dd>
          </dl>

          <p>이벤트 참여 순서</p>
          <ol>
            <li>마음을 담아 
              카드를 작성하고</li>
            <li>소중한 사람에게
              보낸 후</li>
            <li>소중한 사람의
              답장을 받으면</li>
            <li>이벤트
              응모 완료!</li>
          </ol>
          <b>Tip 소중한 사람에게 답장을 받으면 당첨확률 UP!</b>
        </div>
        <!-- text -->

        <button class="btn btn--joinCardEvent" type="button" @click="isCardEventOpen">카드 작성하기</button>

      </div>
    </section>

    <!-- gift -->
    <section class="gift" id="gift">
      <div class="inner">
        <div class="a11y-hidden">
          <h4>로맨틱 데이트 이벤트 경품</h4>
          <p>페레로 로쉐가 준비한 로맨틱한 선물</p>
          <dl>
            <dt>1등</dt>
            <dd>CGV 청담 씨네시티에 단 20커플만을 위한 로맨틱한 영화와
              페레로 로쉐를 담은 핑거푸드, 서프라이즈 이벤트까지!</dd>
            <dd>로맨틱 시네마 데이트 초대권 총 20커플, 40명 / 청담 CGV 2월 14일 6:30~10:00PM</dd>
            <dt>2등</dt>
            <dd>영화 관람권 2매9(20명)</dd>
            <dt>3등</dt>
            <dd>페레로 로쉐 5개입(50명)</dd>
          </dl>
        </div>
      </div>
    </section>

    <!-- shop -->
    <section class="shop" id="shop">
      <div class="inner">
        <div class="shop__content a11y-hidden">
          <h3>소중한 마음을 고백하는 날</h3>
          <p>페레로 로쉐로 가장 로맨틱한 발렌타인 데이를 선물하세요!</p>
        </div>

        <div class="shop__btns">
          <a class="btn" :class="shop.name" v-for="shop in shopList" v-on:click="openShopPage(shop.url, shop.shopName)">{{shop.txt}}</a>
          <a class="btn btn--cu" v-on:click.prevent="blockLink" target="_blank"></a>
        </div>
      </div>
      
    </section>
    
    <!-- event-notice -->
    <section class="notice">
      <button class="btn btn--eventNotice" @click="openPop('event-notice')" type="button">이벤트 유의사항</button>
      <p class="a11y-hidden">
        이 외 기타 문의사항은 ferrerorocherkorea@gmail.com로 문의 바랍니다.
      </p>
    </section>

    <!-- canvas hide-->
    <div class="canvas">

      <canvas id="shareKt" width="300" height="200"></canvas>

    </div>

    <!-- popup group : start -->
    <div th:include="valentine2020/_popup :: partial-popup"></div>
    <!-- popup group : end -->
  </div>
</th:block>

<th:block layout:fragment="body-top-script" th:remove="tag">
  <script src="/vendor/jquery/jquery-1.10.2.min.js"></script>
  <script>
  function callMediaTag (depth) {
	  var url = "https://mobile.midas-i.com/roianal.mezzo/tracking?cmp_no=2069&depth=" + depth;
	  $.ajax({
          url : url,
          dataType : "jsonp",
          async : true, 
          timeout: 500,
          success: function(data) {
          }, 
          error : function(e) {
          }
	 });
  }
  </script>
</th:block>

<th:block layout:fragment="body-script" th:remove="tag">
  <script src="/vendor/jquery/jquery-1.10.2.min.js"></script>

  <script src="/valentine2020/js/load-image.all.min.js"></script>

  <!-- <script src="/vendor/vue/vue.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.js"></script>

  <script src="/valentine2020/js/deviceCheck.js"></script>
  
  <script src="/valentine2020/js/use-youtube.js"></script>

  <script src="/valentine2020/js/main.js"></script>
	 <script th:inline="javascript">
      /*<![CDATA[*/
      var isOpen = /*[[${isOpen}]]*/ ;
      /*]]>*/
    </script>
</th:block>