$loc: 'https://fr-ferrerorocher.s3.ap-northeast-2.amazonaws.com/static/goldenBell2019/';
$loc-pc: $loc+'pc/';
$loc-m: $loc+'m/';
$loc-pop: $loc+'popup/';

$width-max: 2560px;
$width-min: 1200px;

$color-scrollbar: #f2e1ae;
$color-drag: #c5a264;