$loc: 'https://fr-ferrerorocher.s3.amazonaws.com/static/2019-valentine/';
$loc-pc: $loc+'pc/';
$loc-m: $loc+'m/';
$loc-pop: $loc + 'popup/';

$width-max: 2560px;
$width-min: 1200px;

$color-scrollbar: #f2e1ae;
$color-drag: #c5a264;